body {
  background-color: #ede1d2;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6, p {
  font-family: "Open Sans", sans-serif;
}
h1{ font-size: 2em; }
h3{ font-size: 1.3em; }
p { font-size: 1.1em; }
button, button a, .shop article a { font-size: 1em; }
header {
  background-color: #eeeeee;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: table;
  text-align: center;
  z-index: 2;
}
footer {
  background: #ffffff;
  color: #000000;
  width: 100vw;
  height: 3vw;
  text-align: center;
  display: table;
}
/* We verbergen hier de dark-mode logo in de light-mode (Zijn verschillende bestanden) */
.dark_logo {
  display: none;
}
header nav {
  vertical-align: middle;
  font-size: 1.5em;
  color: #ffffff;
  list-style: none;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
header nav li {
  display: contents;
  color: #000000;
  vertical-align: middle;
}
header nav li a {
   color: #000000;
   text-decoration: none;
}
header nav li a:hover {
  color: #6b70b4;
  text-decoration: underline;
}
header img {
  width: 10em;
}
/* Hier beginnen we met de home-pagina */
.home main section:nth-of-type(1) {
    margin-top: 8vw;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .home main section:nth-of-type(1) img {
    width: 40%;
    margin-top: 5em;
  }
  .home main section:nth-of-type(1) article {
    width: 70%;
  }
  .home main section:nth-of-type(1) article p {
    margin-top: 2vw;
    width: 90%;
  }
  .home main section:nth-of-type(1) article p:hover {
    transform: scale(1.1);
  }
  .home main section:nth-of-type(1) article h1 {
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  .home main section:nth-of-type(1) article h1:hover {
    transform: scale(1.2);
  }
  .home main section:nth-of-type(2) {
    background: #6b70b4;
    color: #ffffff;
    width: 100%;
    height: fit-content;
  }
  .home main section:nth-of-type(2) h2 {
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding-top: 35px;
  }
  .home main section:nth-of-type(2) article {
    width: 100%;
    text-align: center;
    position: relative;
    text-align: center;
    color: #ffffff;
    background-color: #000000; /* Om de foto iets donkerder te maken */
    z-index: 1; /* Aangezien anders de header verdwijnt onder de foto */
  }
  .home main section:nth-of-type(2) article img {
    width: 100%;
    opacity: 60%;
  }
  .home main section:nth-of-type(2) article p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
  }
  .home main section:nth-of-type(2) article h3 {
    position: absolute;
    font-size: 2em;
    top: 15vw;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 3;
  }
  .home main section:nth-of-type(3) {
    display: flex;
    align-items: center;
    background: #ed93ab;
    color: #ffffff;
    text-align: center;
  }
  .home main section:nth-of-type(3) img {
    width: 30%;
  }
  .home main section:nth-of-type(3) article {
    width: 70%;
    text-align: center;
  }
  .home main section:nth-of-type(3) article h1 {
    padding: 20px;
  }
  .home main section:nth-of-type(3) article p {
    margin-top: -40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .home main section:nth-of-type(4) {
    height: 70vh;
    background: #ec5e35;
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
  }
  .home main section:nth-of-type(4) h1 {
    text-align: center;
    width: 100%;
  }
  .home main section:nth-of-type(4) input,
  textarea,
  button {
    font-size: 1em;
    width: 50%;
    border-radius: 2px;
    margin: 5px;
    padding: 15px;
    background: #ffffff;
  }
  .home main section:nth-of-type(4) input,
  textarea,
  button:hover {
    background: #000000;
    color: #ffffff;
    padding: 20px;
    transition: all 250ms ease;
  }
/* Dit is de mobiele versie van home, inclusief tablet */
@media (max-width: 1200px) {
  .home main section:nth-of-type(1) {
    height: fit-content;
    display: block;
  }
  .home main section:nth-of-type(1) h1 {
    margin-top: -10px;
  }
  .home main section:nth-of-type(1) img {
    width: 100%;
  }
  .home main section:nth-of-type(1) section p {
    margin: 5px;
    width: fit-content;
  }
  .home main section:nth-of-type(2) {
    height: fit-content;
  }
  .home main section:nth-of-type(2) article p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
  }
  .home main section:nth-of-type(2) article h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .home main section:nth-of-type(3) {
    height: fit-content;
    padding: 0px;
    margin: 0px;
    display: block;
  }
  .home main section:nth-of-type(3) h1 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .home main section:nth-of-type(3) img {
    width: 10em;
    padding-bottom: 30px;
  }
  .home main section:nth-of-type(3) article {
    width: 100%;
    display: block;
  }
  .home main section:nth-of-type(4) {
    height: fit-content;
    padding: 0px;
    margin: 0px;
    display: block;
    margin-top: -45px;
  }
  .home main section:nth-of-type(4) h1 {
    padding-top: 30px;
  }
  .home main section:nth-of-type(4) form {
    padding-bottom: 30px;
  }
}
/* Dit is de code voor de shop pagina */
.shop {
  margin-top: 25vh;
  width: 100%;
  text-align: center;
  color: #000000;
}
.shop article {
  height: fit-content;
  width: 30vw;
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  padding-bottom: 2%;
}
.shop h2 {
  color: #000000;
}
.shop h3 {
  color: #000000;
}
.shop article img {
  width: 15vw;
  height: 15vw;
}
.shop article a {
  margin-bottom: 30px;
  width: fit-content;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 2px 2px #000000;
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  
}
.shop article a {
  color: #000000;
  text-decoration: none;
}
.shop article a:hover{
    color: #000000;
}
@media (max-width: 500px) {
  .shop article {
    height: fit-content;
    width: 60%;
    border-radius: 10px;
    padding: 30px;
    display: inline-block;
  }
  .shop article img {
    width: 50vw;
    height: 50vw;
  }
}
/* Dit is voor de gallerij pagina */
.gallerij header{
    background: transparent; /* Alleen op deze pagina is de header transparant voor het effect van de video achter de header */
    position: absolute; /* Zodat je geen transparante header hebt die meescrolt */
}
.gallerij header a{
    color: #ffffff;
}
.gallerij main video{
  width:100vw;
  height:100vh;
}
.gallerij section{
   width: 100vw; /* Hier maken we nog eens de section die de afbeeldingen bevat de volledige breedte, en zetten de foto's in hetmidden */
   text-align: center;
}
.gallerij main section img{
    width: 40%;
    display: inline-block;
}
.gallerij main section h2{
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}
/* Dit is voor de product pagina */
.product {
  display: flex;
  margin-top: 10vw;
  align-items: center;
  justify-content: center;
}
.product img {
  width: 25%;
  background: #ffffff;
  padding: 30px;
  margin: 15px;
  border-radius: 10px;
}
.product article {
  margin: 15px;
}
.product article label {
  display: block;
  font-size: 2em;
}
.product article button {
  width: fit-content;
  font-weight: bolder;
  border-color: #eeeeee;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px #000000;
  margin: 30px 30px 30px 0px;
}
.product article button:hover{
  color: #000000;
}
.product article button a {
  font-weight: bolder;
  color: #000000;
  text-decoration: none;
}
@media (max-width: 500px) {
  /* mobiele product pagina */
  .product {
    display: block;
    margin-top: 30vh;
  }
  .product img {
    display: block;
    width: 50%;
  }
}
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  header, footer, .shop article, .product img {
    background-color: #000000;
  }
  .dark_logo /* Bij dark mode komt de donkere logo tevoorschijn */{
    display: block;
  }
  .light_logo /* Bij light mode wordt de lichte logo verstopt */{
    display: none;
  }
  .shop a {
    box-shadow: 2px 2px #eeeeee;
  }
  body {
    background: #bcb3a7;
  }
  h1,h2,h3,h4,h5,h6, p, a, label, li, header nav li a{
    color: #ffffff;
  }
}